# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js & Build Artifacts
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# Production Data
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env
.env*
!.env.example

# Misc
.DS_Store
*.pem
Thumbs.db
=version
backend/check_db.ts
backend/list-routes.ts
backend/src/modules/personal-education/index.ts.bak
frontend/lib/hooks/useEmployee.ts.bak

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Prisma
/backend/prisma/migrations/
!/backend/prisma/migrations/migration.sql
/frontend/app/generated/prisma
